/* src/styles/general.css */

/* Colores principales */
:root {
  --primary-color: #808080;
  --secondary-color: #f4f2ff;
  --text-color: #333;
  --radius: 1rem;
  --shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Configuración general */
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--secondary-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

/* Títulos */
.title {
  font-weight: 600;
  color: var(--primary-color);
  margin-bottom: 1.5rem;
}

/* Botones */
.btn-custom {
  background-color: var(--primary-color);
  border: none;
  border-radius: var(--radius);
  transition: 0.3s ease;
}

.btn-custom:hover {
  background-color: #808080;
}

/* Inputs */
.form-control {
  border-radius: var(--radius);
}

